name: build

on:
  push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x ]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        continue-on-error: true
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run lint
      - run: npm test
        env:
          CI: true
          baseURL: ${{secrets.baseUrl}}
          adminUser: ${{secrets.adminUser}}
          adminPass: ${{secrets.adminPass}}
          regularUser: ${{secrets.regularUser}} 
          regularPass: ${{secrets.regularPass}}
      - name: GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.4
        # if: matrix.node-version == '14.x' && github.ref == 'refs/heads/master'
        with:
          BRANCH: gh-pages
          FOLDER: target/site/serenity
          CLEAN: true

